﻿@{
    ViewData["Title"] = "Accueil du blog";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur GP Blog</h1>
    <p>Créez facilement de délicieux repas grâce à <a href="https://docs.microsoft.com/aspnet/core">nos recettes quotidiennes ;-)</a>.</p>
</div>
